<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1 class="mainq"><b>Q</b>uara</h1>
<h2>Welcome to quora post</h2>
<form action="/view" method="post">
    <label for="name">Enter your full name:</label>
    <input type="text" name="name" id="name" placeholder="Enter your name">
    <br><br>
    <label for="comment">Write your though:</label>
    <textarea name="comment" id="comment" placeholder="Enter your comment here" cols="20" rows="10"></textarea>
    <br><br>
    <label for="email">Enter your email id:</label>
    <input type="email" id="email" name="email" placeholder="Enter your email">
    <button>submit</button>

</form>

</body>
</html>
